<!doctype html>
<html>
<head><title>QCM</title></head>
<body>
  <h1>QCM - Conjugaison du verbe "finir"</h1>
  <form method="post">
    <label>1. Je ___</label><br>
    <input type="radio" name="question1" value="finis"> finis<br>
    <input type="radio" name="question1" value="finit"> finit<br><br>

    <label>2. Ils ___</label><br>
    <input type="radio" name="question2" value="finissent"> finissent<br>
    <input type="radio" name="question2" value="finissont"> finissont<br><br>

    <button type="submit">Envoyer</button>
  </form>
</body>
</html>
